@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  font-family: "Hanken Grotesk", "Helvetica Neue";

  /* Primary */
  --color-light-red: 0, 100%, 67%;
  --color-orange-yellow: 39, 100%, 56%;
  --color-green-teal: 166, 100%, 37%;
  --color-cobalt-blue: 234, 85%, 45%;

  /* Gradients */
  --color-light-slate-blue: 252, 100%, 67%;
  --color-light-royal-blue: 241, 81%, 54%;
  --color-violet-blue: 256, 72%, 46%;
  --color-persian-blue: 241, 72%, 46%;

  /* Neutral */
  --color-white: 0, 0%, 100%;
  --color-pale-blue: 221, 100%, 96%;
  --color-lavender: 241, 100%, 89%;
  --color-dark-blue: 224, 30%, 27%;
}

body {
  min-height: 100vh;
}

button {
  font-family: "Hanken Grotesk", "Helvetica Neue";
  letter-spacing: 0.01rem;
  transition: all 0.2s;
}

button:hover {
  cursor: pointer;
  background: linear-gradient(
    hsla(var(--color-light-slate-blue), 1),
    hsla(var(--color-light-royal-blue), 1)
  );
}

.results {
  background: linear-gradient(
    hsla(var(--color-light-slate-blue), 1),
    hsla(var(--color-light-royal-blue), 1)
  );
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
  padding-inline: 2.5rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.results__title {
  font-size: 1rem;
  color: hsla(var(--color-lavender), 1);
}

.results__performance {
  width: 8rem;
  aspect-ratio: 1/1;
  background: linear-gradient(
    hsla(var(--color-persian-blue), 0.7),
    hsla(var(--color-violet-blue), 0.3)
  );
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.results__score {
  color: hsla(var(--color-white), 1);
  font-size: 3rem;
  font-weight: 700;
}

.results__total {
  font-size: 1rem;
  color: hsla(var(--color-lavender), 0.5);
}

.results__description {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.results__summary {
  font-size: 1.4rem;
  color: hsla(var(--color-white), 1);
}

.results__ranking {
  font-size: 0.95rem;
  color: hsla(var(--color-lavender), 0.9);
}

.summary {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.summary__title {
  font-size: 1.2rem;
  color: hsla(var(--color-dark-blue), 1);
}

.summary__scores {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.summary__score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.summary__score .summary__header img {
  width: 1.2rem;
}

.summary__score .summary__header p {
  font-weight: 700;
}

.summary__score--red {
  background-color: hsla(var(--color-light-red), 0.1);
}

.summary__score--red .summary__header p {
  color: hsla(var(--color-light-red), 1);
}

.summary__score--yellow {
  background-color: hsla(var(--color-orange-yellow), 0.1);
}

.summary__score--yellow .summary__header p {
  color: hsla(var(--color-orange-yellow), 1);
}

.summary__score--green {
  background-color: hsla(var(--color-green-teal), 0.1);
}

.summary__score--green .summary__header p {
  color: hsla(var(--color-green-teal), 1);
}

.summary__score--blue {
  background-color: hsla(var(--color-cobalt-blue), 0.1);
}

.summary__score--blue .summary__header p {
  color: hsla(var(--color-cobalt-blue), 1);
}

.summary__header {
  display: flex;
  column-gap: 0.7rem;
}

.summary__performance {
  font-size: 1rem;
  font-weight: 700;
  color: hsla(var(--color-dark-blue), 0.6);
}

.summary__performance span {
  font-weight: 800;
  color: hsla(var(--color-dark-blue), 1);
}

.summary__continue {
  padding-block: 1rem;
  background-color: hsla(var(--color-dark-blue), 1);
  border: none;
  border-radius: 2rem;
  color: hsla(var(--color-white), 1);
  font-weight: 700;
  font-size: 1rem;
}

.attribution {
  position: absolute;
  bottom: 0;
  font-size: 0.7rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 480px) {
  :root {
    font-size: 22px;
  }
}

@media screen and (min-width: 512px) {
  :root {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 36px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 18px;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  main {
    width: 40rem;
    display: flex;
    box-shadow: 0 0 1rem 1rem hsla(var(--color-pale-blue), 1);
    border-radius: 1.5rem;
  }

  .results,
  .summary {
    border-radius: inherit;
    flex-basis: 0;
    padding-top: 2rem;
  }

  .results {
    justify-content: space-between;
    flex-grow: 4.4;
  }

  .summary {
    flex-grow: 5;
    padding-bottom: 2.5rem;
  }

  .results__title,
  .summary__title {
    font-size: 1.3rem;
  }

  .results__performance {
    width: 10rem;
  }

  .results__score {
    font-size: 3.5rem;
  }

  .results__description {
    row-gap: 0.8rem;
  }

  .results__summary {
    font-size: 1.7rem;
  }

  .results__ranking {
    font-size: 1.05rem;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    font-size: 19px;
  }
}

@media screen and (min-width: 1440px) {
  :root {
    font-size: 20px;
  }
}
